#products .tittle {
    font-family: 'Quicksand', sans-serif;
    font-size: 32px;
}

#products .content {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

#products .card {
    height: 300px;
    border: 2px solid #7197CF;
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width: 900px) {
    #products .card {
        height: 375px;
    }
}