.logo {
  width: 25%;
}

#header .tittle {
  font-family: "Poly", serif;
  font-size: 64px;
  line-height: 0.7;
}

#header .subtittle {
  font-family: "Quicksand", sans-serif;
  font-size: 32px;
}

.fa-bars {
  width: 40px;
  height: 40px;
  font-size: 40px;
  color: #ffffff;
}

.menu-item:hover,
.menu-item a:hover {
  background-color: #4c6c94 !important;
  color: #3e1d13 !important;
}

.menu-item,
.menu-item a {
  color: #fff !important;
  font-family: "Quicksand", sans-serif;
  text-align: center !important;
  display: inline-flex !important;
  width: auto !important;
  transition: 0.4s all;
  background-color: #4c6c94 !important;
}

.menu {
  width: 100% !important;
  background-color: #4c6c94 !important;
  text-align: center !important;
}

.links {
  display: flex;
  justify-content: space-around;
}

.menu-fixed-out .menu-fixed {
  height: auto !important;
}

.navbar-nav {
  cursor: pointer;
}

.menu-fixed {
  position: fixed !important;
  top: 0;
  right: 0;
  width: 100%;
  padding-top: 0;
  background: #4c6c94;
  z-index: 2;
  box-sizing: border-box;
  border-bottom: 1px solid #4c6c94;
  height: auto !important;
}

#sp-header {
  width: 100%;
  transition: 0.7s all;
  z-index: 100;
  padding-left: 50px;
  padding-right: 50px;
}

@media (max-width: 900px) {
  .logo {
    width: 100%;
  }

  .links {
    flex-direction: column;
    align-items: center;
  }
}
